body {
    padding: 0;
    margin: 0;
    font: 15px Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(55, 44, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

form.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 50px;
    box-shadow: rgb(71, 71, 71) 0 0 15px 0;
    background-color: rgb(255, 253, 253);
    width: 250px;

}

.login-button {
    margin-top: 16px;
    padding: 6px 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
fieldset{
    border: 0;
}
fieldset.input-field {
    display: flex;
    flex-direction: column;
}
.logo{
    height: 110px;
    width: 110px;
    align-self: center;
}
.input-field input{
    padding: 5px;
}