.container {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
    box-shadow: #000 0 0 25px 0;
}
.login-button{
    margin-top: 16px;
        padding: 6px 10px;
        background-color: #4caf50;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
}
#rodape{
    text-align: center;
}